*.iml
.gradle
/local.properties
/.idea/
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
.claude

# Build folders for all modules
/app/build/
/domain/build/
/data/build/
/core/build/
/core/common/build/
/core/ui/build/
/core/navigation/build/
/feature/build/
/feature/home/build/
/feature/search/build/
/feature/product/build/
/feature/stats/build/
/feature/profile/build/
